
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Pilots List</title>
</head>
<body>
    <h1>Pilots List</h1>
    <ul>
        {% for pilot in pilots %}
            <li>
                {{pilot.PilotName}} "{{ pilot.PilotCodeName }}" {{ pilot.PilotSurname }}
                <form method="POST" action="/delete_pilot/{{ pilot.PilotID }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <button onclick="window.location.href = '/create_pilot';">create pilot</button>
    <button onclick="window.location.href = '/';">Index</button>
</body>
</html>