<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Promotions overview</title>
</head>
<body>
    <h1>Promotions overview</h1>
    <ul>
        {% for promotion in promotions %}
            <li>{{ promotion.PromotionName }} ({{ promotion.PromotionStartDate }} - {{ promotion.PromotionEndDate }})</li>
        {% endfor %}
    </ul>
    <button onclick="window.location.href = '/create_promotion';">create promotion</button>
    <button onclick="window.location.href = '/';">Index</button>
</body>
</html>
